# /etc/nginx/sites-available/project.tld

##
# For product environment uncomment "include expires.conf"
##

# frontend
server {
        server_name project.tld;
        listen 80;

        root          /{{default_user}}/www/{{default_project_name}}/html/frontend/web;

        access_log    /{{default_user}}/www/{{default_project_name}}/log/access.log combined buffer=50k;
        error_log     /{{default_user}}/www/{{default_project_name}}/log/error.log notice;

        include yii-php-fpm.conf;

        include cross-domain-fonts.conf;
        include protect-system-files.conf;

        # Uncomment this on product environment
        #include expires.conf;
}

# backend
server {
        server_name backend.project.tld;
        listen 80;

        root          /{{default_user}}/www/{{default_project_name}}/backend/web;

        access_log    /{{default_user}}/www/{{default_project_name}}/log/access.backend.log combined buffer=50k;
        error_log     /{{default_user}}/www/{{default_project_name}}/log/error.backend.log notice;

        include yii-php-fpm.conf;

        include cross-domain-fonts.conf;
        include protect-system-files.conf;

        # Uncomment this on product environment
        #include expires.conf;
}
